body{
    background-color:gray;
    background-position: center;
    background-repeat: repeat;
}
.main
{
    color: black;
    font-family: "montserrat",sans-serif;
}
.nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
  
.nav li {
    font-family: "montserrat",sans-serif;
    display: inline-block;
    transition: 0.7s;
    font-size: 30px;
    padding: 20px;
}

.lstCoursename
{
    text-transform: uppercase;
    background-color: gray ;
    font-family: "montserrat",sans-serif;
    text-decoration-line: none;
    font-size: 25px; 
    color: #fff;
    
    transition: 0.7s;
    padding: 20px;
}
.lstCoursename1
{
    background-color: gray ;
    font-family: "montserrat",sans-serif;
    text-decoration-line: none;
    font-size: 40px;
    color: darkblue;
    padding: 20px;
}
.lstCoursename:hover{
    color:black;
  }
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }