html{
  height: 100%;
}
body{
  height: 100%;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
* {
    box-sizing: border-box;
  }
  table,td,tr
  {
    border: 3px solid black;
    border-collapse: collapse;
    
  }
  /* Style the search field */
  form.curriculum input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
  }
  
  /* Style the submit button */
  form.curriculum button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.curriculum button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.curriculum::after {
    content: "";
    clear: both;
    display: table;
  }