<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/404.css')}}">
    <title>404 Not found</title>
</head>

<body>
    <h1>404 Not Found</h1>
    <p class="zoom-area">Yêu cầu của bạn không khả dụng.<br>Xin vui lòng quay lại sau.</p>
    <section class="error-container">
        <span>4</span>
        <span><span class="screen-reader-text">0</span></span>
        <span>4</span>
    </section>
</body>

</html>