<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="{{url_for('static',filename='css/dicussion.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='js/dicussion.js')}}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
</head>
<body>
    


<div class="container">
	<div class="row">
	<!-- Contenedor Principal -->
    <div class="comments-container">

		<ul id="comments-list" class="comments-list">
			<li> 
				<div class="comment-main-level">
					<div class="comment-avatar"><img src="https://is3-ssl.mzstatic.com/image/thumb/Purple127/v4/f5/ca/fd/f5cafd96-f3a4-8ec1-37b0-2e82f8bdea77/source/512x512bb.jpg" alt=""></div>
					<div class="comment-box">
						<div class="comment-head">
							<h6 class="comment-name by-author"><a href="http://creaticode.com/blog">{{dicuss.username}}</a></h6>
							<span>{{dicuss.startdate}}   </span>
							<span style="padding-left: 10px">   DicussionID: {{dicuss.dicid}}</span>
							<!-- <i class="fa fa-reply"></i> -->
							<a href="/deletedicussion?dicid={{dicuss.dicid}}"><i class="fa fa-trash"></i></a>
						</div>
						<div class="comment-content">
							{{dicuss.content}}
						</div>
					</div>
				</div>
				 <ul class="comments-list reply-list">
                     {% for i in comment_list %}
					<li> 						
						<div class="comment-avatar"><img src="https://is3-ssl.mzstatic.com/image/thumb/Purple127/v4/f5/ca/fd/f5cafd96-f3a4-8ec1-37b0-2e82f8bdea77/source/512x512bb.jpg" alt=""></div>
						<div class="comment-box">
							<div class="comment-head">
								<h6 class="comment-name by-author"><a href="http://creaticode.com/blog">{{i.username}}</a></h6>
								<span>{{i.time}}</span>
								<a href="/deletecomment?commentid={{i.commentid}}"><i class="fa fa-trash"></i></a> 
							</div>
							<div class="comment-content">
								{{i.content}}
							</div>
						</div>
					</li> 
                    {% endfor %}
					 <!-- <li>
						<div class="comment-avatar"><img src="https://is3-ssl.mzstatic.com/image/thumb/Purple127/v4/f5/ca/fd/f5cafd96-f3a4-8ec1-37b0-2e82f8bdea77/source/512x512bb.jpg" alt=""></div>
						<div class="comment-box">
							<div class="comment-head">
								<h6 class="comment-name by-author"><a href="http://creaticode.com/blog">Agustin Ortiz</a></h6>
								<span>hace 10 minutos</span>
								<i class="fa fa-reply"></i>
								<i class="fa fa-heart"></i>
							</div>
							<div class="comment-content">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
							</div>
						</div>
					</li>
				</ul>
			</li> -->
			
		</ul>
	</div>
	</div>
	<button class="btn btn-primary" id="makecomment">Make Comment</button>
	<div class="row commentform" hidden>
			<form role="form" id="contact-form" class="contact-form" action="addcomment">
						<div class="row">
							<div class="col-md-6">
							  <div class="form-group">
								<input type="text" class="form-control" name="userid" autocomplete="off" id="userid" placeholder="Userid">
							  </div>
						  </div>
							<div class="col-md-6">
							  <div class="form-group">
								<input type="text" class="form-control" name="dicid" autocomplete="off" id="dicid" placeholder="DiccussionID">
							  </div>
						  </div>
						  </div>
						  <div class="row">
							  <div class="col-md-12">
							  <div class="form-group">
								<textarea class="form-control textarea" rows="3" name="content" id="content" placeholder="Content..."></textarea>
							  </div>
						  </div>
						</div>
						<div class="row">
						<div class="col-md-12">
					  <button type="submit" class="btn btn-primary pull-right">Comment</button>
					  </div>
					  </div>
					</form>
		</div>
</div>
<script>
	//$(document).ready(function(){
		$('#makecomment').unbind().on('click', function(event){
				event.stopPropagation();
    			event.stopImmediatePropagation();
				$('.commentform').removeAttr('hidden');
				$('#makecomment').removeClass('btn-primary').addClass('btn-warning')
				$('#makecomment').text('Hide Comment')
				$('#makecomment').attr('id','hidecomment')
		});
		
	//})
	$('#hidecomment').unbind().on('click', function(event){
		event.stopPropagation();
    	event.stopImmediatePropagation();
		$('.commentform').attr('hidden','');
		$('#hidecomment').removeClass('btn-warning').addClass('btn-primary')
		$('#hidecomment').text('Make Comment')
		$('#hidecomment').attr('id','makecomment')
	});
</script>
</body>
</html>