<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/course.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='img/banner.png')}}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-learning - Courses</title>
</head>
<body>
    <div class = "header">
        <h2 class="main" style="font-size: 50px;">DANH SÁCH KHÓA HỌC</h2>
    <!-- For loop logic of jinja template -->
        <ul class="nav">
            {%for i in data %} 
                <p></p>
                <li title="{{i.cdesc}}"><b><a href = "/lesson?data-id={{i.courseId}}" id = {{i.courseId}} class = "lstCoursename">{{i.cname}}</a></b></li>
                <a href="#" class="btn btn-success">ĐĂNG KÍ</a>
                <a href="/getlistdicussion?courseid={{i.courseId}}" class="btn btn-success">DICUSSION</a>
                <a href="/examination?courseid={{i.courseId}}" class="btn btn-success">Examination</a>
                <p style="font-size: 20px;" class = "lstCoursename1">{{i.price}} VNĐ</p>

            {%endfor%} 
        </ul>

    </div> 
    <br><br><br>
    <p style="font-size: xx-large; font-family: Verdana, Geneva, Tahoma, sans-serif;color: blue; float: right;"><a href="/main">Quay về trang chủ</a></p>
</body>
</html>