<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="{{url_for('static',filename='css/dicussion.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='js/dicussion.js')}}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
</head>
<body>
    

	<div class="header">
		<h2 class="logo">P2NT E-Learning</h2>
		<input type="checkbox" id="chk">
		<label for="chk" class="show-menu-btn">
		  <i class="fas fa-ellipsis-h"></i>
		</label>
		
		<ul class="menu">
		  <a href="/main">Home</a>
		  <a href="/course">Courses</a>
		  <a href="/topic">Topics</a>
		  <a href="/curriculum">Curriculum</a>
		  <a href="#">List Teachers</a>
		  <a href="#">List Students</a>
		  <label for="chk" class="hide-menu-btn">
			<i class="fas fa-times"></i>
		  </label>
		</ul>
	  </div>
<div class="container">
	<div class="row">
	<!-- Contenedor Principal -->
    <div class="comments-container">

		<ul id="comments-list" class="comments-list">
			{% for i in dicussion_list %}
			<li> 
				<div class="comment-main-level">
					<div class="comment-avatar"><img src="https://is3-ssl.mzstatic.com/image/thumb/Purple127/v4/f5/ca/fd/f5cafd96-f3a4-8ec1-37b0-2e82f8bdea77/source/512x512bb.jpg" alt=""></div>
					<div class="comment-box">
						<div class="comment-head">
							<h6 class="comment-name by-author"><a href="#">{{i.username}}</a></h6>
							<span>{{i.startdate}}   </span>
							<span style="padding-left: 10px">   DicussionID: {{i.dicid}}</span>
							<!-- <i class="fa fa-reply"></i> -->
							 <a href="/deletedicussion?dicid={{i.dicid}}"><i class="fa fa-trash"></i></a> 
						</div>
						<div class="comment-content">
							{{i.content}}
						</div>
					</div>
				</div>
				<a href="viewcomment?dicid={{i.dicid}}" class="numcomment">See all {{i.numcomment}} comment</a>
			{% endfor %}
		</ul>
	</div>
	</div>
	<button id="hidedicussion" hidden></button>
	<button id="hidecomment" hidden></button>
	<button class="btn btn-primary" id="makedicussion">Make Dicussion</button>
	<button class="btn btn-primary" id="makecomment">Make Comment</button>
	<div class="row dicussionform" hidden>
		<form role="form" id="contact-form" class="contact-form" action="adddicussion">
                    <div class="row">
                    	<div class="col-md-4">
                  		<div class="form-group">
                            <input type="text" class="form-control" name="courseid" autocomplete="off" id="courseid" placeholder="CourseID">
                  		</div>
                  	</div>
                  	</div>
                  	<div class="row">
                  		<div class="col-md-12">
                  		<div class="form-group">
                            <textarea class="form-control textarea" rows="3" name="content" id="content" placeholder="Content..."></textarea>
                  		</div>
                  	</div>
                    </div>
                    <div class="row">
                    <div class="col-md-12">
                  <button type="submit" class="btn btn-primary pull-right">Make Dicussion</button>
                  </div>
                  </div>
                </form>
	</div>
	<div class="row commentform" hidden>
			<form role="form" id="contact-form" class="contact-form" action="addcomment">
						<div class="row">
							<div class="col-md-4">
							  <div class="form-group">
								<input type="text" class="form-control" name="dicid" autocomplete="off" id="dicid" placeholder="DiccussionID">
							  </div>
						  </div>
						  </div>
						  <div class="row">
							  <div class="col-md-12">
							  <div class="form-group">
								<textarea class="form-control textarea" rows="3" name="content" id="content" placeholder="Content..."></textarea>
							  </div>
						  </div>
						</div>
						<div class="row">
						<div class="col-md-12">
					  <button type="submit" class="btn btn-primary pull-right">Comment</button>
					  </div>
					  </div>
					</form>
		</div>
</div>
<script>
	//$(document).ready(function(){
		$('#makedicussion').on('click', function(event){
				event.stopPropagation();
   				event.stopImmediatePropagation();
				$('.dicussionform').removeAttr('hidden');
				$('#makedicussion').removeClass('btn-primary').addClass('btn-warning');
				$('#makedicussion').attr('id','hidedicussion');
		});
		$('#makecomment').on('click', function(event){
				$('.commentform').removeAttr('hidden');
				$('#makecomment').removeClass('btn-primary').addClass('btn-warning');
				$('#makecomment').attr('id','hidecomment');
		});
		
	//})
	$('#hidecomment').on('click', function(event){
		$('.commentform').attr('hidden','');
		$('#hidecomment').removeClass('btn-warning').addClass('btn-primary');
		$('#hidecomment').text('Make Comment');
		$('#hidecomment').attr('id','makecomment');
	});
	$('#hidedicussion').on('click', function(event){
		$('.dicussionform').hide();
		$('#hidedicussion').removeClass('btn-warning').addClass('btn-primary');
		$('#hidedicussion').text('Make Dicussion');
		$('#hidedicussion').attr('id','makedicussion');
	});
</script>
</body>
</html>