<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/lesson.css')}}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ url_for('static', filename='img/banner.png')}}">
    <title>E-learning - Courses</title>
</head>
<body background="{{ url_for('static', filename='img/background.jpeg') }}">
        
    <div class = "header" >
        <h2 class="main">DANH SÁCH BÀI HỌC</h2>
    <!-- For loop logic of jinja template -->
        <ol class="nav">
            {%for i in data %} 
            <p></p>
            <li><b><a href="#" class = "lstCoursename"  style="text-decoration-line: none" >{{i.lname}}</a></b></li>
            {%endfor%} 
        </ol>
          
    </div> 
    <br><br><br>
    <p style="font-size: xx-large; font-family: Verdana, Geneva, Tahoma, sans-serif;color: blue; float: right;"><a href="/main">Quay về trang chủ</a></p>
</body>
</html>