<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link rel="icon" href="{{ url_for('static', filename='img/banner.png')}}">
    <title>E-LEARNING</title>
    
  </head>
  <body>
  <div class="header">
    <h2 class="logo">P2NT E-Learning</h2>
    <input type="checkbox" id="chk">
    <label for="chk" class="show-menu-btn">
      <i class="fas fa-ellipsis-h"></i>
    </label>
    
    <ul class="menu">
      
      <a href="/course">Courses</a>
      <a href="/topic">Topics</a>
      <a href="/curriculum">Curriculum</a>
      <a href="/editbutton?data-id={{session['userid']}}">Edit</a>
      <a href="/studentlist">List Students</a>
      <a href="/teacherlist">List Teacher</a>
      <label for="chk" class="hide-menu-btn">
        <i class="fas fa-times"></i>
      </label>
    </ul>
    <img src="../static/img/img.jpg" alt="IMG">
  </div>

  
<div class="content">
    <p>
        WELCOME TO P2NT E-LEARNING
    </p>
</div>
  </body>
</html>
