<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static',filename='css/searchCourseOfTopic.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Search</title>
</head>
<body background="{{ url_for('static', filename='img/background.jpeg') }}">
    <p style="font-size: 30px; font-family: Verdana, Geneva, Tahoma, sans-serif;">NHẬP CHỦ ĐỀ BẠN CẦN TÌM</p> 
    <form class="topic" action="searchCourseOfTopic">
            <input type="text" placeholder="Search.." name="searchTopic">
            <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <br><br><br><br>
    <table>
    {%for i in data %} 
    <tr>
        <td style="font-size: 30px; font-family: Verdana, Geneva, Tahoma, sans-serif;"><a class = "lstCourseCurri"> {{i.tname}}</a></td> 
        <td style="font-size: 30px; font-family: Verdana, Geneva, Tahoma, sans-serif;">{{i.price}}</td>
    </tr>
    {%endfor%}
    </table>
    <br><br><br>
    <p style="font-size: xx-large; font-family: Verdana, Geneva, Tahoma, sans-serif;color: blue; float: right;"><a href="/main">Quay về trang chủ</a></p>
</body>
</html>