<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static',filename='css/searchCondition.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{{ url_for('static', filename='img/banner.png')}}">
    <title>Search</title>
</head>
<body >
    <p style="font-size: 30px; font-family: Verdana, Geneva, Tahoma, sans-serif;">NHẬP INPUT - HIỂN THỊ CÁC LỘ TRÌNH CÓ NHIỀU HƠN INPUT KHÓA HỌC</p> 
    <form class="search" action="searchCondition">
            <input type="text" placeholder="Search.." name="searchNum" pattern="[0-9]+" title="Nhập sai input" value=0>
            <button type="submit"><i class="fa fa-search" ></i></button>
    </form>
    <br><br><br><br>
    <table>
    {%for i in data %} 
    <tr>
        <td style="font-size: 30px; font-family: Verdana, Geneva, Tahoma, sans-serif;"><a class = "lstCourseCurri"> {{i.cname}}</a></td> 
        <td style="font-size: 30px; font-family: Verdana, Geneva, Tahoma, sans-serif;">{{i.camount}}</td>
    </tr>
    {%endfor%}
    </table>
    <br><br>
    <br><br><br>
    <p style="font-size: xx-large; font-family: Verdana, Geneva, Tahoma, sans-serif;color: blue; float: right;"><a href="/main">Quay về trang chủ</a></p>

</body>
</html>