<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static',filename='css/searchCourseOfCurri.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{{ url_for('static', filename='img/banner.png')}}">
    <title>Search</title>
</head>
<body >
    <p style="font-size: 30px; font-family: Verdana, Geneva, Tahoma, sans-serif;">NHẬP LỘ TRÌNH BẠN CẦN TÌM</p> 
    <form class="curriculum" action="searchCourseOfCurri">
            <input type="text" placeholder="Search.." name="searchCurri">
            <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <br><br><br><br>
    <table>
    {%for i in data %} 
    <tr>
        <td style="font-size: 30px; font-family: Verdana, Geneva, Tahoma, sans-serif;"><a class = "lstCourseCurri"> {{i.cname}}</a></td> 
        <td style="font-size: 30px; font-family: Verdana, Geneva, Tahoma, sans-serif;">{{i.price}}</td>
    </tr>
    {%endfor%}
    </table>
    <br><br>
    <p style="font-size: 20px;font-family: Verdana, Geneva, Tahoma, sans-serif;color: black;">{{fee_curriculum}}</p>
    <br><br><br>
    <p style="font-size: xx-large; font-family: Verdana, Geneva, Tahoma, sans-serif;color: blue; float: left;"><a href="/searchCondition?searchNum=0">See more -></a></p>
    <p style="font-size: xx-large; font-family: Verdana, Geneva, Tahoma, sans-serif;color: blue; float: right;"><a href="/main">Quay về trang chủ</a></p>

</body>
</html>