<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/topic.css')}}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ url_for('static', filename='img/banner.png')}}">
    <title>E-learning - Topics</title>
</head>
<body>
    <div class = "header">
        <h2 class="main" style="font-size: 50px;">CÁC CHỦ ĐỀ GỢI Ý DÀNH CHO BẠN</h2>
    <!-- For loop logic of jinja template -->
        <ul class="nav">
            {%for i in data %} 
                <p></p>
                <li title="{{i.tdesc}}"><b class = "listTopicname">{{i.tname}}</b></li>
            {%endfor%} 
        </ul>

    </div>
    <div class = "searchTopic">
            <p></p><p></p>
            <p><center><a href="/searchCourseOfTopic" style="font-size: 30px; color: black;">See More -></center></a></p>
    </div>  
</body>
</html>



   